{% extends "layout.html" %}
{% block content %}
  <form action="/charge?totalPrice" method="post">
    <article>
      <label>
        <span>Amount is Rs.</span>:
          {{totalPrice}}
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="{{totalPrice*100}}"
            data-name="PayPal"
            data-currency="INR"
            data-locale="auto"></script>

  </form>
{% endblock %}